.ModalBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(30,30,30,0.8);
    z-index: 5;
}

.ModalBody {
    display: flex;
    align-items: column;
    padding: 2rem;
    margin: 15% 30%;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 10;
}